<div class="page">
  <div class="toolbar">
    <button (click)="json.click()" [disabled]="loading()">
      <input
        #json
        type="file"
        accept=".json"
        (change)="importJson(json.files?.[0])"
      />Import JSON
    </button>
    <button (click)="dx.click()" [disabled]="loading()">
      <input
        #dx
        type="file"
        accept=".docx"
        (change)="importDocx(dx.files?.[0])"
      />Import Docx
    </button>
    <button (click)="dx.click()" [disabled]="loading()">
      <input
        #dx
        type="file"
        accept=".docx"
        (change)="importDocx(dx.files?.[0], 'Opinionated')"
      />Import Docx (opinionated)
    </button>
    <button (click)="fm.click()" [disabled]="loading()">
      <input
        #fm
        type="file"
        accept=".zip"
        (change)="importFrameMaker(fm.files?.[0])"
      />Import FrameMaker
    </button>
    <a
      download="doc.json"
      [href]="'data:text/plain;charset=utf-8, ' + docJsonData()"
      ><button>Export</button></a
    >
    <input id="ro" type="checkbox" [(ngModel)]="ro"/> <label for="ro">
      @if (ro()) {
        Read Only
      } @else {
        Editor
      }
    </label>
  </div>
  <licit-editor
    [doc]="doc()"
    [width]="'100%'"
    [height]="'100%'"
    [debug]="true"
    [docID]="''"
    [embedded]="false"
    [readOnly]="ro()"
    [theme]="'dark'"
    [plugins]="getPlugins()"
    [docType]="'demo'"
    [runtime]="runtime"
    (editorChange)="onEditorChange($event.data)"
  >
  </licit-editor>
</div>
